type project
owners
    Vincent Bourdon
authors 
    Vincent Bourdon
projectUrl
    http://github.com/evilz/Kunai
iconUrl
    https://raw.githubusercontent.com/evilz/Kunai/master/docs/files/img/logo.png
licenseUrl
    http://github.com/evilz/Kunai/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    helper extension utility tool ninja
summary
    kunai4ninja
description
    Extensions, helpers and utilities for ninja


